<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Welcome to eCA Life</title>
    <!-- <meta http-equiv="refresh" content="2">  -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8" />

	<script type="text/javascript" src="/static/js/jquery-latest.js"></script>
	<script type="text/javascript" src="/static/js/mainscript.js"></script>
	<script>
		$(document).ready(function(){
			remodel();
		});
	</script>

</head>

<body>

<!--<div id = "topbar-11">
		<div id = "header-12">
			<h1 id = "title-13">eCA Life</h1>
		</div><!--End of header-12-->
	</div><!--End of topbar-11-->
	<div id = "wrapper-bg-1">
	<div id = "wrapper-2">
	<div id = "welcome-header-36">
		<a href="pprofile.html">&nbsp</a>
	</div><!--End of welcome-header-36-->
		<div id = "login-15">

		<div id="activation-35">



<h1>Registration Complete</h1>
<p>Thanks! Your registration is complete. You should receive an email shortly with instructions on how to activate your account.</p>
<a href="http://live.com/" class = 'button'>Check activation email now!</a>

		</div><!--End of activation-25-->

		</div><!--End of login-15-->
	<div id = "footer-26">
		&nbsp
	</div><!--End of footer-26-->
	</div><!--End of wrapper-2-->
	</div><!--End of wrapper-bg-1-->

</body>
</html>