
<div id = "links-bar-17">&nbsp
		<!--ATTN: These links will be replaced by JavaScript. Changing these links may not change the links on the actual website.-->
		<a href="/forums/"><div id = "link-10" class = "active">Forums</div></a>
		<a href="/events/"><div id = "link-10">Events</div></a>
		<a href="/clubs/"><div id = "link-10">Clubs</div></a>
		<a href="/calendar/"><div id="link-10">Calendar</div></a>
		<a href="/homepage/"><div id = "link-10">Home</div></a>
	</div><!--End of links-bar-17-->

	<div id = "profile-area-8">&nbsp
	<!--
			{% if user.is_authenticated %}
				(Avatar)
				<p>
				{{ user.name }}<br>
				(other stuff)
				</p>

				<a href="{% url profiles.views.profile_detail user.username %}">Click here to edit your profile.</a>

				<hr>
				My Personal Calendar
				<table width = 100% class = calendar>
					<tr class = calendar>
					<th width = 14.3% class = calendar>S</td>
					<th width = 14.3% class = calendar>M</td>
					<th width = 14.3% class = calendar>T</td>
					<th width = 14.3% class = calendar>W</td>
					<th width = 14.3% class = calendar>T</td>
					<th width = 14.3% class = calendar>F</td>
					<th width = 14.3% class = calendar>S</td>
					</tr>
					<tr class = calendar>
					<td class = calendar>1</td>
					<td class = calendar>2</td>
					<td class = calendar>3</td>
					<td class = calendar>4</td>
					<td class = calendar>5</td>
					<td class = calendar>6</td>
					<td class = calendar>7</td>
					</tr>
					<tr class = calendar>
					<td class = calendar>8</td>
					<td class = calendar>9</td>
					<td class = calendar>10</td>
					<td class = calendar>11</td>
					<td class = calendar>12</td>
					<td class = calendar>13</td>
					<td class = calendar>14</td>
					</tr>
					<tr class = calendar>
					<td class = calendar>15</td>
					<td class = calendar>16</td>
					<td class = calendar>17</td>
					<td class = calendar>18</td>
					<td class = calendar>19</td>
					<td class = calendar onmouseover="this.style.cursor='pointer'; this.style.color='#888';" onmouseout="this.style.color='black'" style="color:black; font-weight:bold; text-decoration:underline;"><div id = event20>20</div></td>
					<td class = calendar>21</td>
					</tr>
					<tr class = calendar>
					<td class = calendar>22</td>
					<td class = calendar>23</td>
					<td class = calendar>24</td>
					<td class = calendar>25</td>
					<td class = calendar>26</td>
					<td class = calendar>27</td>
					<td class = calendar>28</td>
					</tr>
				</table><hr>
				{% endif %}
				<div id = "calendar-event-16">
				</div><!--End of calendar-event-16-->

		</div><!--End of profile-area-8-->
