{% load adminmedia %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

    <title>{% block title %}e-CA life{% endblock %}</title>

    {% block css %}
    	<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui-1.8.16.custom.css" type="text/css" media="screen" charset="utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Cabin+Condensed' rel='stylesheet' type='text/css'>

    {% endblock %}

	{% block js %}
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.2.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.core.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.datepicker.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.widget.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/mainscript.js"></script>
		<script>
			$(document).ready(function(){
				activate();
				forumDeleteConfirmation();
				hideMapArea();
				hideSearchBox();

	//			$(function() {
	//				$( "input:submit, a, button", ".bstyle" ).button();
	//				$( "a", ".bstyle" ).click(function() { return false; });
	//			});

				//buttonStyle();
				//remodel();
				//testCalendar();
			});


	</script>
	<!-- TinyMCE -->
	<script type="text/javascript" src="{{ MEDIA_URL }}tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript">
		tinyMCE.init({
			// General options
			mode : "textareas",
			theme : "advanced",
			plugins : "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

			// Theme options
			theme_advanced_buttons1 : "styleselect,fontselect,fontsizeselect,newdocument,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,blockquote,outdent,indent",
			theme_advanced_buttons2 : "bold,italic,underline,strikethrough,|,sub,sup,|,forecolor,backcolor,|,undo,redo,|,link,unlink,hr,|,image,media,charmap,emotions,iespell,|,code,preview,fullscreen",
			theme_advanced_buttons3 : "",

			theme_advanced_toolbar_location : "top",
			theme_advanced_toolbar_align : "left",
			theme_advanced_statusbar_location : "bottom",
			theme_advanced_resizing : true,

			// Example content CSS (should be your site CSS)
			content_css : "css/content.css",

			// Drop lists for link/image/media/template dialogs
			template_external_list_url : "lists/template_list.js",
			external_link_list_url : "lists/link_list.js",
			external_image_list_url : "lists/image_list.js",
			media_external_list_url : "lists/media_list.js",

			// Style formats
			style_formats : [
				{title : 'Bold text', inline : 'b'},
				{title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
				{title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
				{title : 'Example 1', inline : 'span', classes : 'example1'},
				{title : 'Example 2', inline : 'span', classes : 'example2'},
				{title : 'Table styles'},
				{title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
			],

			// Replace values for the template plugin
			template_replace_values : {
				username : "Some User",
				staffid : "991234"
			}
		});
	</script>
	<!-- /TinyMCE -->
	{% endblock %}

</head>

<body>

    <div id="user_auth">{% block user_auth %}{% include 'user_auth.html' %}{% endblock %}</div>

    <div id="header"><h2>{% block header %}{% endblock %}</h2></div>

	<div id="wrapper-bg-1">
	<div id="wrapper-2">
    	<div id="navigation">
			{% block navigation %}{% include 'navigation.html' %}{% endblock %}
			<div id="searchBox-33" class="shadowout"><div id="searchBoxX-37" onclick="rehideSearchBox();" onmouseover="this.style.cursor='pointer';"></div>{% include 'search_form.html' %}</div>
		</div>
		
 		<div id="main-6">
		
		<!--<div id="falseannouncement-23" class="shadowin">message</div>-->
		
			{% block content %}{% endblock %}
			
		</div><!--End of main-6-->

	</div>
	 <div id="footer">{% block footer %}{% include 'footer.html' %}{% endblock %} </div>
	</div>



</body>

</html>