{% extends "messages/mbase.html" %} 
{% load i18n %} 
{% block content_lower %}
<div id="pagetitle-24">{% trans "View Message" %}</div>
<table class="messages" width = 100%>

    <tr><th width = 15%>{% trans "Subject" %}: </th><td width = 45% style = 'text-align: left; padding-left: 10px'><strong>{{ message.subject }}</strong></td><th width = 15%>{% trans "Date" %}:</th><td width = 25% style = 'text-align: left; padding-left: 10px'>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</td></tr>
    <tr><th>{% trans "Sender" %}:</th><td style = 'text-align: left; padding-left: 10px'>{{ message.sender }}</td><th>{% trans "Recipient" %}:</th><td style = 'text-align: left; padding-left: 10px'>{{ message.recipient }}</td></tr>

<tr><th>Message:</th><td colspan = 3 style = 'text-align: left; padding-left: 10px'>{{ message.body|safe }}<br /><br /></td></tr>
    
</table><br>

{% ifequal message.recipient.pk user.pk %}
<a href="{% url messages_reply message.id %}" class=button>{% trans "Reply" %}</a>
{% endifequal %}
<a href="{% url messages_delete message.id %}" class=button>{% trans "Delete" %}</a>
{% endblock %}