<div class="red">
{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}
</div>

<form method="post" action="" class="accountForm marginTop">{% csrf_token %}
	<table class="" cellspacing="10">
	{% for field in form %}
		<tr>
			<td><div class="hint" {%if field.field.required %} bold> {% endif %}{{ field.label_tag }}:<td>{{ field }}</div>
			</td>
				
			{% if field.help_text %}<td class="clearfix">{{ field.help_text }}</td>{% endif %}
			{% if field.errors %}<td class="myerrors clearfix">{{ field.errors }}</td>{% endif %}
		
		</tr>
	{% endfor %}
		<tr>
			<td colspan="3" >				
				<big><input type="submit" value="OK" class="button"></big>
			</td>
		</tr>
		
	</table>

</form>